[Unit]
Description=HestiaRE panel PHP FastCGI Process Manager
Documentation=https://hestiare.com
After=network.target

[Service]
Type=notify
PIDFile=/run/hestia-php.pid
ExecStart=/usr/local/hestia/bin/hestia-php-fpm --nodaemonize --fpm-config /etc/php/hestia/fpm/php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID
KillMode=mixed
PrivateTmp=true
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
