[Unit]
Description=HestiaRE panel PHP FastCGI Process Manager
Documentation=https://git.hestiare.com/Admin/hestiare
After=network.target

[Service]
Type=notify
PIDFile=/run/hestia-php.pid
ExecStart=/usr/sbin/php-fpm8.3 --nodaemonize --fpm-config /etc/php/hestia/fpm/php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID
KillMode=mixed
PrivateTmp=true
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
