# Packages
*.tar
*.zip
*.gzip
*.gz
*.bz2
*.deb

# Editors
.vs/
.nova/
.idea/
.env

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Composer
composer.phar

# Distribution CSS
web/css/themes/

# Distribution JS
web/js/dist/
